<!DOCTYPE html>
<html>
<head>
  <title>RestDemo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
 
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<p><%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %></p>
<%= yield %>

</body>
</html>
